---
import Social from "@components/common/Social.astro";
---

<footer class="glass container lg:my-4 lg:rounded-lg intersect:animate-fadeUp opacity-0">
  <div class="row py-2 lg:py-0 items-center flex-wrap-reverse">
    <div class="text-center lg:col-6 lg:mb-0 lg:text-left">
      <ul>
        <li class="m-2 inline-block">
          <a href="/terms">&copy; 鏈魂宗 2025</a>
        </li>
      </ul>
    </div>
    <div class="text-center lg:col-6 lg:my-0 flex items-center justify-center lg:justify-end">
      <Social
        links={{
          line: "https://line.me/ti/g2/E-AtIo3P3CmRq2CfFD2FqmsuQO4La8ZHPX7XHA?utm_source=invitation&utm_medium=link_copy&utm_campaign=default",
          twitter: "https://x.com/ChainSoulSect",
          threads: "https://www.threads.com/@chainsoulsect",
          github: "https://github.com/chainsoulsect",
          substack: "https://substack.com/@1234530476?",
        }}
      />
    </div>
  </div>
</footer>
